files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDETCCAfkCFBTTfHQ80NamIM5ZRzXoZVTXumPVMA0GCSqGSIb3DQEBCwUAMEUx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjIxMTI0MDUwODQ5WhcNMjMxMTI0MDUw
      ODQ5WjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEA2IUcZPkU9F3K2xs4BAVzT4bszMQEzCbSrxJWUuBJTf212t7P
      viKC8N5VLdMFUieUCSf/fwzxARuoX5AkTY1AKQQmrXOK2V4AOGrvONKBf6kki444
      cvbvwmYnBF1waCDci0Z4kSCyGQsSCGM7hy0IlDxMSZeleMPdkboRbhYH7iueztYq
      5a0rNA9199XUa+LPnNxhorO89GKaGl4XY12kpZhwW7GxM8kVeFH1XIOIrgSS6Vyw
      moCuec1t4mjtNXr5Oy4tJvgKO3L0F4uPWYN6eG9r3zHg6RgJ9jEHrtl068LOVYES
      Iw9nEYMkJw0/J0NG8LQHBeQyM1SO+zk9mXdl3QIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQCm7aP91HfisPR9UYVa5ReVVY3JE8nuENTN/WyyINlPjcB2H/+v3EGdMidL
      xIdBBAlavkk7qniXe4tIttMiT1kpZEK27Ejd9yCUg/j08MMIFGMUG675X3UPQTfI
      QAJlxFbSyzrCfJdQ4wzoUJY8+N5VxAZsrNcmw16qRZT81yGm+LLVogwQgmmGDaOm
      Tc7bMIZSrNAG5khJBGjBXYXfoSN1wqBnPQp+GOzhc7jnDDgWoezz2nJ5Km1GtGPu
      rZVo3gT+l94urdjJ/US7UBIbq9aDWkWIXbNCjEQnGt/KCaMW8+T6PkRQhdmcErWN
      18HA/PxErBbT7ogNdVpWi+vHpeh7
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEA2IUcZPkU9F3K2xs4BAVzT4bszMQEzCbSrxJWUuBJTf212t7P
      viKC8N5VLdMFUieUCSf/fwzxARuoX5AkTY1AKQQmrXOK2V4AOGrvONKBf6kki444
      cvbvwmYnBF1waCDci0Z4kSCyGQsSCGM7hy0IlDxMSZeleMPdkboRbhYH7iueztYq
      5a0rNA9199XUa+LPnNxhorO89GKaGl4XY12kpZhwW7GxM8kVeFH1XIOIrgSS6Vyw
      moCuec1t4mjtNXr5Oy4tJvgKO3L0F4uPWYN6eG9r3zHg6RgJ9jEHrtl068LOVYES
      Iw9nEYMkJw0/J0NG8LQHBeQyM1SO+zk9mXdl3QIDAQABAoIBABHdEZWnEzqCDn17
      RmjWhkf2as0OExNA1LsK+UJHLOUZXIqdPWiDcmgq/74THepER6tluGekCrI7tO2F
      d+lKERQROpuu37LFVaFR+UCn5XVB4Dj/V9rsUqWoRenPR7nflDKNct8OYoM8bZVx
      knS5m26XdvfPYiCPkFU4k72QZcEZg1l5GUCmp6WNSn0yN3Uk36fMNmW5Guj+ekwP
      /kDctF5k9NjRuGI3zHYFUyVhdaxIcsHkWv5pdFWgC86yxP5vfKN8Ho6+dXDlQVhs
      lEVWvxJYYbpVaGoDOW4GNiDj+jqbcu5dW9JtqYo3uLEE1pHRIvBT1y52cwdwyrA7
      KlCsQSUCgYEA8UILbCpfsiiCBc8WEVtF/LpL2PxMttBgA+pkSTrytzC36S6SKt9a
      qNbLtrPEidVm3XZoFumddV+6e5Hg0rKP/wfsKZ50ivvBhGgNKUkasR4Be8XuEX7b
      kfp2gEOcX6BLsOkAm2PPj/gZ3CD5epK4z7rAv02EDgRIWDNLqqk81ucCgYEA5cAY
      Btn8u9cw08ysyuhCEiemESbUFErc4qxK8QLr70BCnho0iWkEqyLiRw2ovYVUIZI+
      8GR/SZ8xarpGfxyszvmB1ZEVH+ypnN5qz9bJ05NdgV6q8Rr+/hpUxm6AHpgiPs/F
      0SQGsfA1NHtsRvCwr3uzk11k2kgmS6jUH5BTeJsCgYEAruCxyPEaNtj4Dt/iXihs
      HdqoehvAO8/lmVEA6rgpEbLlzMfuOdd3LuWr+r5qG4MtsiBPKTSj513BnirK7c9z
      Y2jJvg1W6xu8VY7a429TQsm+R4rcm5/55uHHngfkRMi7tPvgbcK2xOQRUqgwTrIl
      9qWna8Pzkfl2u0BLe+R67kcCgYB3rgAWGZmw0+EIg5cDP8ejI2o7hwl05KZ5oZyM
      PaRfhg7twuLZLY6UA2Dx+GiNCRYRQthsaz1vQXEBkrVEY9CVJJ4AfUoOzj5wi+AC
      EnYiM6LC0GilnhV0kozUrR0qUr+MDrmSP30JVgKxKxX1Qk4Xq42Y107A8lKYmQKe
      ypTgvwKBgHB/ht/o6bc3dlaNXwi53dEmJ/0XPTK04Warjv+qN+8UJvfQqbzNRo2E
      QW0XrhkuE418AO6D1sXTseP3uex9nVpSPX2Olc284ki20tEBBVVzroCdmxZy7mCW
      sUrHDvZaLmUYEB7FpGWRM3rT4yf6oCYi+qTq4/r6RRB0E/78rswN
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart